*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/*..................top.............................*/
#first .first{
    display: flex;
    padding: 20px;
}
#first .open{
    background-color: #fff;
    border: 1px solid transparent;
    margin-left: 20px;
    display: none;
    position: absolute;
    margin-top: 25px;
}
#first .open:hover{
    background-color: #444444;
}
@media (max-width:850px){
    #first .open{
        display: block;
    }
    #first .first .none{
        display: none;
    }
    #second .electro{
        display: none;
    }
}
.side{
    background-color: #fff;
    padding: 20px;
    height: 100vh;
    width: 350px;
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateX(-350px);
    transition: all linear 0.5s;
}
.side.active{
    transform: translateX(0px);
}
.side .close{
    padding: 10px;
    border: 1px solid transparent;
    background-color: #fff;
    width: 310px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align-last: left;
}
.side .close i{
    float: right;
    color: #818181;
    font-size: 20px;
}
.side .close i:hover{
    color: #F1F1F1;
}
.side li{
    list-style-type: none;
}
.side li a{
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #818181;
    font-family: Arial;
    font-size: 18px;
    transition: all linear 0.3s;
}
.side li a i{
    float: right;
    color: black;
}
.side li a:hover{
    color: #F37128;
    font-size: 20px;
}
#first .open i{
    color: black;
    font-size: 35px;
}
#first .first img{
    width: 150px;
    height: 50px;
    margin-right: 80px;

}
#first .first .search{
    border:1px solid #888888;
    width: 500px;
    height: 40px;
    padding:  10px 20px 10px 20px;
    margin-right: 60px;
    border-radius: 7px;
    margin-top: 5px;
}
#first .first .search a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
#first .first > a{
    margin-left: 55px;
    color: #444444;
    text-decoration: none;
    font-size: 15px;
}
#first .first > a:hover{
    color: #F37128;
}
#first .first a i{
    margin-left: 20px;
}
#first .first a i.sell{
    margin-left: 35px;
}
/*..................middle1.............................*/
#all{
    background-color: #EAEAEA;
}
.categories{
    padding: 20px;
    margin-bottom: 40px;
}
.categories a{
    text-decoration: none;
    margin-right: 20px;
    color: #777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.categories .cate{
    color: black;
    margin-right: 70px;
}
.categories .cate i{
    margin-right: 10px;
}
/*..................middle2.............................*/
#smart{
    background-color: #FAFAFA;
}
.smart{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}
@media (min-width:768px) and (max-width:2000px){
    .smart{
        flex-wrap: wrap;
    }
    .smart .filter{
        width: 20%;
    }
    .range .show .mobile{
        width: 25%;
    }
    .smart .range{
        width: 75%;
    }
}
@media (max-width:768px){
    .smart{
        flex-wrap: wrap;
    }
    .smart .filter{
        width: 100%;
    }
    .range .show .mobile{
        width: 50%;
    }
    .smart .range{
        width: 100%;
    }
}
.filter{
    background-color: #EBEBEB;
    padding: 20px;
    border-radius: 20px;
    height: 70%;
}
.filter h3{
    font-size: 22px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filter h3 i{
    margin-right: 10px;
}
.filter .brand p{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}
.filter .brand ul li{
    list-style-type: none;
    margin-bottom: 8px;
}
.filter .brand hr{
    margin-bottom: 10px;
    color: #CEC8C8;
}
/* .range{
    width: 75%;
} */
.range .price img{
    width: 100%;
}
.range .price p{
    font-size: 20px;
    margin-bottom: 20px;
}
.range .price label{
    margin-right: 30px;
}
.range .price input{
    width: 10%;
    margin-right: 30px;
}
.range .price .apply{
    width: 10%;
    padding: 2px;
    background-color: #F37128;
    border-radius: 3px;
    border: 1px solid transparent;
    color: white;
}
.range .price .popular{
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    padding: 10px;
}
.range .price .popular span{
    font-family: Arial;
    font-size: 15px;
    margin-right: 20px;
}
.range .price .popular a{
    text-decoration: none;
    color: #777777;
    margin-right: 20px;
    font-family: Arial;
}
.range .price .popular .a1{
    color: #F37128;
}
.range .show{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.range .show .mobile{
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #EBEBEB;
    padding: 10px;
    margin-bottom: 20px;
}
.range .show .mobile img{
    width: 100%;
}
.range .show .mobile h5{
    margin-top: 20px;
    font-family: Arial;
}
.range .show .mobile p{
    color: #666666;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Arial;
    font-size: 15px;
}
.range .page{
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #EBEBEB;
    border-radius: 7px;
    padding: 20px;
}
.range .page span{
    font-size: 18px;
    margin-right: 200px;
    font-weight: bold;
}
.range .page input{
    width: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.range .page input#previous{
    width: 10%;
    padding: 2px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
}
.range .page input#i1{
    background-color: #F37128;
    border-radius: 3px;
    border: 1px solid transparent;
    color: white;
}
.range .page input#next{
    width: 8%;
    padding: 2px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
}
/*..................bottom.............................*/
/*............................eight part.....................*/
#eight{
    background-color: #EBEBEB;
    padding-top: 20px;
    padding-bottom: 20px;
}
#eight .deliver{
    display: flex;
    justify-content: center;
}
#eight .deliver .feature{
    text-align: center;
}
#eight .deliver .feature i{
    margin-top: 30px;
    margin-bottom: 10px;    
}
#eight .deliver .feature p{
    margin-top: 10px;
    margin-bottom: 30px;
}
@media (min-width:768px) and (max-width:1199px){
    #eight .deliver{
        flex-wrap: wrap;
    }
    #eight .deliver .feature{
        width: 47%;
    }
}
@media (max-width:768px){
    #eight .deliver{
        flex-wrap: wrap;
    }
    #eight .deliver .feature{
        width: 100%;
    }
}
/*.........................ninth part.....................*/
#ninth{
    background-color: #0694C9;
    padding-top: 30px;
    padding-bottom: 30px;
}
#ninth .last{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
@media (min-width:768px) and (max-width:2000px){
    #ninth .last{
        flex-wrap: wrap;
        gap: 50px;
    }
    #ninth .last .foot{
        width: 20%;
    }
}
@media (max-width:768px){
    #ninth .last{
        flex-wrap: wrap;
    }
    #ninth .last .foot{
        width: 100%;
    }
}
#ninth .last .foot p{
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
}
#ninth .last .foot{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}
#ninth .last .foot ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
#eleventh{
    background-color: #0694C9;
}
#eleventh .lastone{
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
}
#eleventh .lastone p{
    margin-bottom: 10px;
    text-align: center;
}
